@r:50rem;

a,
input,
button {
    /*清除点击阴影*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button {
    /*清除按钮的圆角*/
  -webkit-appearance: none;
  border-radius: 0;
}
body {
    /*选中文字设置*/
  margin: 0;
  -webkit-user-select: none;
    /*禁止文字缩放*/
  -webkit-text-size-adjust: 100%;
  width: 100%;
  overflow-x: hidden;
}
body * {
    /*文字设置*/
  -webkit-user-select: none;
  font-family: Helvetica;
}
p,ul,li,h2,a{
    margin: 0;
    padding: 0;
}
ul,li,a{
    list-style: none;
    text-decoration: none; 
}

span{
    margin:0;
    padding: 0;
}
//以上是默认样式
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

.header{
    width: 100%;
   position: relative; 
   background: #1C63CF;
   height: 90/@r;  
   overflow: hidden;
  #logo_d{
    float: left;
    width: 200/@r;  
    height: 90/@r;
    background: url(../img/d1.png) no-repeat 12/@r 16/@r;
    background-size:180/@r;
  }  
   .logo_you{
     float:right;  
     height: 90/@r;
     #logo_ge{
       float: right;
      height:90/@r; 
      padding-top: 10/@r;
      padding-right: 10/@r; 
      img{
          display: inline-block;
          line-height: 90/@r;
          vertical-align: middle;
          width: 60/@r;
          height:60/@r;
      }
     }
      #logo_seach{
       display:inline-block;
      width: 90/@r; 
      height: 90/@r; 
     padding-right: 20/@r; 
      background: url(../img/d1.png) no-repeat 42/@r -75/@r;  
      background-size:203/@r ;
      }
    }
}//header
.wrap{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
//这是更换头像
.myZoe{
    width: 100%;
    height: 100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1000;
    display:none;
.bg{
    background:#000;
    opacity:0.7;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    width: 100%;
    height: 100%;
    }
    .box{
        position:right;
        left:60%;
        width: 60%;
        height: 100%;
        background:#fff;
        float:right;
        position:relative;
        z-index:666;
        .tx{
            margin-top:70/@r;
            img{
                margin:0 auto;
                width: 150/@r;
                height: 150/@r;
                overflow:hidden;
                display:block;
                border-radius:50%;
            }
            p{
                margin:0 auto;
                margin-top:20/@r;
//              background:#0091e7;
                border-radius:10/@r;
                color:#222;
                font-size:45/@r;
                height:70/@r;
                line-height:70/@r;
                text-align:center;
            }
        }
        ul{
            padding-left:30/@r;
            li{
                float:left;
                width: 185/@r;
                height:70/@r;
                line-height:70/@r;
                text-align:center;
                background:#222;
                margin-right:20/@r;
                margin-top:35/@r;
                color:#fff;
                font-size:35/@r;
                border-radius:10/@r;
            }
        }
    }
}
.image{
    background:#fff;
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index:999;
    .header{
        width: 100%;
        height: 90/@r;
        background:#222;
        position:relative;
        a{
            position:absolute;
            right:30/@r;
            top:20/@r;
            font-size:60/@r;
            color:#fff;
        }
    }
    .imgs{
        padding:50/@r 0 0 45/@r;
        li{
            float:left;
            border:1px solid #aaa;
            width: 200/@r;
            height:200/@r;
            box-sizing:border-box;
            border-radius:10/@r;
            overflow:hidden;
            margin-right:30/@r;
            margin-bottom:30/@r;
            img{
                width:200/@r;
                height:200/@r;
            }
        }
    }
}

//更换头像结束

